.page-main {
  /* max-width: 100%; */

  padding: 40px;

  background-color: #ffffff;
}

.promo {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: #ebf0fa;
  border-radius: 10px;
}

.promo__text-part {
  width: 510px;

  margin-left: 64px;
}

.promo__title {
  font-family: "Manrope", sans-serif;
  font-size: 30px;
  font-weight: 500;
  line-height: 48px;
  color: #1f4284;
  text-align: left;
}

.promo__text {
  margin: 0;
  padding: 0;
  margin-bottom: 35px;

  font-family: "Manrope", sans-serif;
  font-size: 17px;
  line-height: 27px;
  color: #727272;
}

.promo__button {
  width: 340px;
  height: 68px;

  padding-left: 24px;

  font-family: "Manrope", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 29px;
  color: #ffffff;
  text-align: left;

  background-color: #244c98;
  background-image: url("../img/button-icon.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 286px 12px;
  background-size: 44px;
  border-radius: 60px;
  border: none;
  box-sizing: border-box;
}

.promo__button:hover {
  opacity: 0.8;
  transition: all 0.3s;
  cursor: pointer;
}

.promo__img {
  width: 50%;
  height: 456px;

  background-image: url("/img/promo-img.png");
  background-repeat: no-repeat;
  background-size: cover;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.popup {
  position: absolute;
  top: calc(50% - 250px);
  left: calc(50% - 277px);

  display: flex;
  flex-direction: column;

  width: 500px;
  height: 575px;

  padding: 24px;

  background-color: #f0f4fc;
  box-sizing: border-box;

  z-index: 10;
}

.popup__close-button {
  width: 52px;
  height: 52px;

  margin-left: auto;

  background-color: #ffffff;
  background-image: url("../img/button-close.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 24px;
  border-radius: 10px;
  border: none;
}

.popup__close-button:hover {
  opacity: 0.4;
  transition: all 0.3s;
  cursor: pointer;
}

.hide {
  display: none;
}

.popup__title {
  margin: 0;
  margin-bottom: 15px;
  padding: 0;

  font-family: "Manrope", sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 33px;
  color: #323232;

  text-align: left;
}

.popup__save-password-checkbox,
.popup__save-password:hover {
  cursor: pointer;
}

.popup__input {
  width: 100%;
  height: 73px;

  padding-left: 25px;

  background-color: #d7e2f6;
  border-radius: 10px;
  border: none;

  font-family: "Manrope", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 25px;
  color: #1f4284;

  box-sizing: border-box;
}

.popup__input::placeholder {
  font-family: "Manrope", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 25px;
  color: #1f4284;
}

.popup__input--login {
  margin-bottom: 5px;
}

.popup__input--password {
  margin-bottom: 20px;
}

.popup__save-password-wrapper {
  display: flex;
  justify-content: start;
  align-items: center;

  margin-bottom: 20px;
}

.popup__save-password-checkbox {
  margin-right: 15px;

  width: 18px;
  height: 18px;

  border: 2px solid #323232;
}

.popup__save-password {
  font-family: "Manrope", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  color: #323232;
}

.popup__restore-password {
  margin-bottom: 25px;

  font-family: "Manrope", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 25px;
  color: #244c98;

  text-decoration: none;
}

.popup__button-open,
.popup__button-registration {
  width: 100%;
  height: 65px;

  font-family: "Manrope", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 29px;

  border-radius: 4px;
  border: none;
  box-sizing: border-box;
}

.popup__button-open:hover {
  opacity: 0.8;
  transition: all 0.3s;
  cursor: pointer;
}

.popup__button-open {
  margin-bottom: 4px;

  color: #ffffff;
  background-color: #244c98;
}

.popup__button-registration {
  color: #244c98;
  background-color: #ffffff;
  border: 1px solid #244c98;
}

.popup__button-registration:hover {
	cursor: not-allowed;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;

  background-color: #000000;
  opacity: 0.3;
  width: 100vw;
  height: 100vh;
  z-index: 5;
}

@media (max-width: 1440px) {
  .promo__title {
    font-size: 26px;
    line-height: 42px;
  }

  .promo__text {
    margin-right: 30px;
    margin-bottom: 35px;

    font-family: "Manrope", sans-serif;
    font-size: 17px;
    line-height: 27px;
    color: #727272;
  }

  .promo__img {
    background-image: url("/img/promo-img-1440.png");
  }
}

@media (max-width: 768px) {
  .promo {
    flex-direction: column;
  }

  .promo__text-part {
    width: 90%;

    margin-left: 0;
  }

  .promo__title {
    font-size: 20px;
    line-height: 32px;
  }

  .promo__text {
    margin-right: 0px;

    font-size: 15px;
    line-height: 24px;
  }

  .promo__button {
    margin-bottom: 40px;

    width: 261px;
    height: 56px;

    font-size: 15px;
    line-height: 24px;

    background-position: 214px 10px;
    background-size: 36px;
  }

  .promo__img {
    width: 100%;
    height: 360px;

    background-image: url("../img/promo-img-768.png");
    background-size: cover;
  }

  @media (max-width: 600px) {
    .promo__img {
      height: 300px;
      background-position: center bottom;
    }

		.popup {
			top: 50px;
			left: calc(50% - 175px);
			width: 350px;
			height: 480px;
		}

		.popup__title {
			font-size: 18px;
		}
		
		.popup__restore-password,
		.popup__save-password,
		.popup__input,
		.popup__input::placeholder {
			font-size: 14px;
		}

		.popup__save-password-checkbox {
			margin-right: 12px;
		}

		.popup__button-open,
		.popup__button-registration {
			font-size: 16px;
		}
  }

  @media (max-width: 550px) {
    .promo__img {
      height: 250px;
    }
  }

  @media (max-width: 375px) {
    .promo__title {
      font-size: 17px;
      line-height: 27px;
    }

    .promo__text {
      font-size: 13px;
      line-height: 21px;
    }

    .promo__button {
      margin-bottom: 40px;
      padding-left: 16px;

      width: 100%;
      height: 56px;

      background-position: calc(100% - 10px) 10px;
      background-size: 36px;
    }

    .promo__img {
      width: 100%;
      height: 220px;

      background-image: url("../img/promo-img-375.png");
      background-size: cover;
    }
  }

  @media (max-width: 350px) {
    .promo__button {
      background-image: none;
    }

    .promo__img {
      background-size: contain;
    }
  }
}
